/example/tests/results/
/example/profiler_output/
/example/tests/Collision_operator_test/results/
/example/tests/Bubble_rise_low_density_ratio/results/
/example/tests/Bubble_rise_high_density_ratio/results/
/results/
/example/tests/maxwell_reconstruction/
/example/tests/Bubble_rise_high_density_ratio_CS/results/
# TODO: need to make sure that new result folder are added to the gitignore file.
/example/25-09-10_Examples_Orest/
/test/
/example/tests/Isolde/results/
/Isolde/results/
